SONA_PORT=6699
PUID=1000
PGID=1000
SONA_PUBLIC_URL=http://sosee.eu.cc:6699
SONA_MUSIC_HOST_DIR=/vol4/1000/media/download/音乐
SONA_DATA_HOST_DIR=/vol4/1000/docker/sona
SONA_ADMIN_USERNAME=admin
SONA_ADMIN_PASSWORD=请替换为强密码
SONA_SCAN_ON_STARTUP=true
SONA_SCRAPING_ENABLED=true
