openapi: 3.1.0
info:
  title: Sona API
  version: 0.3.0
servers:
  - url: http://sosee.eu.cc:6699/api/v1
paths:
  /health:
    get:
      operationId: health
      responses:
        "200":
          description: 服务正常
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: UP
  /auth/login:
    post:
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: 登录成功并设置 SONA_SESSION Cookie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout:
    post:
      operationId: logout
      responses:
        "204":
          description: 已退出登录
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/me:
    get:
      operationId: currentUser
      responses:
        "200":
          description: 当前用户
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/password:
    put:
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "204":
          description: 密码已修改，所有会话已撤销
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout-all:
    post:
      operationId: logoutAll
      responses:
        "204":
          description: 当前用户所有会话已撤销
  /users:
    get:
      operationId: listUsers
      responses:
        "200":
          description: 用户列表（仅管理员）
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ManagedUser"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: 指定角色的用户已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedUser"
  /users/{userId}:
    patch:
      operationId: setUserEnabled
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          description: 用户状态已更新
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedUser"
    delete:
      operationId: deleteUser
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "204":
          description: 用户及其个人数据已删除
  /users/{userId}/password:
    put:
      operationId: resetUserPassword
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  minLength: 8
                  maxLength: 64
      responses:
        "204":
          description: 密码已重置，用户所有会话已撤销
  /me/favorites:
    get:
      operationId: listFavorites
      responses:
        "200":
          description: 当前用户收藏的曲目 ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Favorites"
  /me/favorites/{trackId}:
    put:
      operationId: addFavorite
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 已收藏
    delete:
      operationId: removeFavorite
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 已取消收藏
  /me/favorites/tracks:
    get:
      operationId: favoriteTracks
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: 按收藏时间倒序返回当前用户的收藏歌曲
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackPage"
  /me/playlists:
    get:
      operationId: listPlaylists
      responses:
        "200":
          description: 当前用户歌单
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Playlist"
    post:
      operationId: createPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 80
      responses:
        "201":
          description: 歌单已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Playlist"
  /me/playlists/{playlistId}:
    delete:
      operationId: deletePlaylist
      parameters:
        - $ref: "#/components/parameters/PlaylistId"
      responses:
        "204":
          description: 歌单已删除
  /me/playlists/{playlistId}/tracks/{trackId}:
    put:
      operationId: addPlaylistTrack
      parameters:
        - $ref: "#/components/parameters/PlaylistId"
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 曲目已加入歌单
    delete:
      operationId: removePlaylistTrack
      parameters:
        - $ref: "#/components/parameters/PlaylistId"
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 曲目已移出歌单
  /me/history:
    get:
      operationId: playHistory
      responses:
        "200":
          description: 当前用户最近 100 条播放记录
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/History"
  /me/history/{trackId}:
    post:
      operationId: recordPlayback
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 播放记录已保存
  /me/history/{trackId}/complete:
    post:
      operationId: recordPlaybackCompletion
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 已记录自然完播，并更新歌曲全局完播率
  /tracks:
    get:
      operationId: listTracks
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: 曲目列表
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /tracks/random:
    get:
      operationId: randomTracks
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: 按全局完播率加权，从完整曲库随机返回一批不重复曲目
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Track"
  /tracks/{trackId}:
    get:
      operationId: getTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "200":
          description: 曲目详情
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Track"
        "404":
          $ref: "#/components/responses/NotFound"
  /tracks/{trackId}/stream:
    get:
      operationId: streamTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
        - name: Range
          in: header
          schema:
            type: string
      responses:
        "200":
          description: 完整音频
          content:
            audio/*:
              schema:
                type: string
                contentMediaType: application/octet-stream
        "206":
          description: 音频字节范围
          headers:
            Accept-Ranges:
              schema:
                type: string
            Content-Range:
              schema:
                type: string
        "404":
          $ref: "#/components/responses/NotFound"
  /tracks/{trackId}/lyrics:
    get:
      operationId: getLyrics
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "200":
          description: 歌词
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lyrics"
        "404":
          $ref: "#/components/responses/NotFound"
  /tracks/{trackId}/artwork:
    get:
      operationId: getArtwork
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "200":
          description: 封面图片
          content:
            image/jpeg:
              schema:
                type: string
                contentMediaType: image/jpeg
            image/png:
              schema:
                type: string
                contentMediaType: image/png
        "404":
          $ref: "#/components/responses/NotFound"
  /library/scan:
    post:
      operationId: startScan
      responses:
        "202":
          description: 扫描已开始
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanStatus"
  /library/scan/status:
    get:
      operationId: scanStatus
      responses:
        "200":
          description: 当前扫描状态
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanStatus"
  /downloads/sources:
    get:
      operationId: downloadSources
      description: 可用的 musicdl 下载来源（仅管理员）
      responses:
        "200":
          description: 来源列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DownloadSource"
        "403":
          $ref: "#/components/responses/Forbidden"
  /downloads/search:
    get:
      operationId: searchDownloads
      description: 在已配置的 musicdl 来源中搜索歌曲（仅管理员）
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 120
      responses:
        "200":
          description: 搜索候选
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/DownloadCandidate"
        "403":
          $ref: "#/components/responses/Forbidden"
  /downloads:
    get:
      operationId: listDownloadTasks
      description: 最近 100 条下载任务（仅管理员）
      responses:
        "200":
          description: 下载任务
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DownloadTask"
    post:
      operationId: queueDownload
      description: 将搜索候选加入下载队列（仅管理员）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DownloadCandidate"
      responses:
        "202":
          description: 已加入队列
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadTask"
  /downloads/{downloadId}/retry:
    post:
      operationId: retryDownload
      parameters:
        - name: downloadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: 已重新加入队列
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadTask"
components:
  parameters:
    TrackId:
      name: trackId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PlaylistId:
      name: playlistId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: 未登录或会话失效
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: 当前用户无权限
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: 资源不存在
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
    User:
      type: object
      required: [id, username, role]
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        role:
          type: string
          enum: [ADMIN, USER]
    ManagedUser:
      type: object
      required: [id, username, role, enabled]
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        role:
          type: string
          enum: [ADMIN, USER]
        enabled:
          type: boolean
    CreateUserRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          minLength: 2
          maxLength: 32
        password:
          type: string
          minLength: 8
          maxLength: 64
        role:
          type: string
          enum: [ADMIN, USER]
          default: USER
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
          maxLength: 64
    Favorites:
      type: object
      required: [trackIds]
      properties:
        trackIds:
          type: array
          items:
            type: string
    Playlist:
      type: object
      required: [id, name, trackIds, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        trackIds:
          type: array
          items:
            type: string
        createdAt:
          type: integer
          format: int64
    History:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            type: object
            required: [trackId, playedAt]
            properties:
              trackId:
                type: string
              playedAt:
                type: integer
                format: int64
    Track:
      type: object
      required: [id, title, artist, album, durationMs, codec, fileExtension, streamURL, hasLyrics, metadataStatus]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        artist:
          type: string
        album:
          type: string
        trackNumber:
          type: integer
        durationMs:
          type: integer
          format: int64
        codec:
          type: string
        fileExtension:
          type: string
        sampleRate:
          type: integer
        bitDepth:
          type: integer
        artworkURL:
          type: string
          format: uri-reference
        streamURL:
          type: string
          format: uri-reference
        hasLyrics:
          type: boolean
        metadataStatus:
          type: string
          enum: [LOCAL, SCRAPED, NEEDS_REVIEW]
    TrackPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Track"
        nextCursor:
          type: [string, "null"]
    Lyrics:
      type: object
      properties:
        plain:
          type: [string, "null"]
        synced:
          type: [string, "null"]
        source:
          type: [string, "null"]
    ScanStatus:
      type: object
      required: [state, discovered, imported, updated, skipped, failed]
      properties:
        state:
          type: string
          enum: [IDLE, RUNNING, COMPLETED, FAILED]
        discovered:
          type: integer
        imported:
          type: integer
        updated:
          type: integer
        skipped:
          type: integer
        failed:
          type: integer
          message:
            type: [string, "null"]
    DownloadSource:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
    DownloadCandidate:
      type: object
      required: [candidateId, source, sourceName, title, artist, hasLyrics]
      properties:
        candidateId:
          type: string
        source:
          type: string
        sourceName:
          type: string
        title:
          type: string
        artist:
          type: string
        album:
          type: [string, "null"]
        extension:
          type: [string, "null"]
        quality:
          type: [string, "null"]
        durationMs:
          type: [integer, "null"]
          format: int64
        fileSizeBytes:
          type: [integer, "null"]
          format: int64
        artworkUrl:
          type: [string, "null"]
          format: uri
        hasLyrics:
          type: boolean
        lyrics:
          type: [string, "null"]
    DownloadTask:
      type: object
      required: [id, candidateId, source, sourceName, title, artist, album, quality, requestedBy, state, files, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        candidateId:
          type: string
        source:
          type: string
        sourceName:
          type: string
        title:
          type: string
        artist:
          type: string
        album:
          type: string
        quality:
          type: string
        artworkUrl:
          type: [string, "null"]
          format: uri
        requestedBy:
          type: string
        state:
          type: string
          enum: [QUEUED, RUNNING, COMPLETED, FAILED]
        files:
          type: array
          items:
            type: string
        message:
          type: [string, "null"]
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
    Problem:
      type: object
      required: [status, title]
      properties:
        status:
          type: integer
        title:
          type: string
        detail:
          type: string
