openapi: 3.1.0
info:
  title: Sona API
  version: 0.5.0
servers:
  - url: http://sosee.eu.cc:6699/api/v1
paths:
  /health:
    get:
      operationId: health
      responses:
        "200":
          description: 服务正常
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: UP
  /auth/login:
    post:
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: 登录成功并设置 SONA_SESSION Cookie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout:
    post:
      operationId: logout
      responses:
        "204":
          description: 已退出登录
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/me:
    get:
      operationId: currentUser
      responses:
        "200":
          description: 当前用户
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/password:
    put:
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "204":
          description: 密码已修改，所有会话已撤销
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/logout-all:
    post:
      operationId: logoutAll
      responses:
        "204":
          description: 当前用户所有会话已撤销
  /users:
    get:
      operationId: listUsers
      responses:
        "200":
          description: 用户列表（仅管理员）
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ManagedUser"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: 指定角色的用户已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedUser"
  /users/{userId}:
    patch:
      operationId: setUserEnabled
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          description: 用户状态已更新
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedUser"
    delete:
      operationId: deleteUser
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "204":
          description: 用户及其个人数据已删除
  /users/{userId}/password:
    put:
      operationId: resetUserPassword
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  minLength: 8
                  maxLength: 64
      responses:
        "204":
          description: 密码已重置，用户所有会话已撤销
  /me/favorites:
    get:
      operationId: listFavorites
      responses:
        "200":
          description: 当前用户收藏的曲目 ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Favorites"
    delete:
      operationId: removeFavorites
      description: 批量取消当前用户收藏，最多 500 首
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trackIds]
              properties:
                trackIds:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items: {type: string}
      responses:
        "204": {description: 已批量取消收藏}
  /me/favorites/{trackId}:
    put:
      operationId: addFavorite
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 已收藏
    delete:
      operationId: removeFavorite
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 已取消收藏
  /me/favorites/tracks:
    get:
      operationId: favoriteTracks
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: 按收藏时间倒序返回当前用户的收藏歌曲
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackPage"
  /me/playlists:
    get:
      operationId: listPlaylists
      responses:
        "200":
          description: 当前用户歌单
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Playlist"
    post:
      operationId: createPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 80
      responses:
        "201":
          description: 歌单已创建
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Playlist"
  /me/playlists/{playlistId}:
    delete:
      operationId: deletePlaylist
      parameters:
        - $ref: "#/components/parameters/PlaylistId"
      responses:
        "204":
          description: 歌单已删除
  /me/playlists/{playlistId}/tracks/{trackId}:
    put:
      operationId: addPlaylistTrack
      parameters:
        - $ref: "#/components/parameters/PlaylistId"
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 曲目已加入歌单
    delete:
      operationId: removePlaylistTrack
      parameters:
        - $ref: "#/components/parameters/PlaylistId"
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 曲目已移出歌单
  /me/playlists/{playlistId}/tracks:
    delete:
      operationId: removePlaylistTracks
      description: 批量移出当前用户歌单中的歌曲，最多 500 首
      parameters:
        - $ref: "#/components/parameters/PlaylistId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trackIds]
              properties:
                trackIds:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items: {type: string}
      responses:
        "204": {description: 已批量移出歌单}
  /me/history:
    get:
      operationId: playHistory
      responses:
        "200":
          description: 当前用户最近 100 条播放记录
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/History"
  /me/history/{trackId}:
    post:
      operationId: recordPlayback
      parameters:
        - $ref: "#/components/parameters/TrackId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listenedMs, progressPercent]
              properties:
                listenedMs: {type: integer, minimum: 0}
                progressPercent: {type: number, minimum: 0, maximum: 100}
      responses:
        "204":
          description: 播放记录已保存；发现池歌曲最近 10 次有效播放的平均完播率高于 80% 时自动转入正常池
  /me/tracks/{trackId}:
    delete:
      operationId: hideTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204":
          description: 歌曲已加入当前用户垃圾桶
  /me/trash:
    get:
      operationId: listTrash
      responses:
        "200":
          description: 当前用户垃圾桶歌曲
          content:
            application/json:
              schema: {type: array, items: {$ref: "#/components/schemas/Track"}}
  /me/trash/{trackId}:
    put:
      operationId: restoreTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204": {description: 歌曲已恢复}
  /me/playback-state:
    get:
      operationId: playbackState
      responses:
        "200": {description: 当前用户完整播放队列与进度}
        "204": {description: 暂无续播状态}
    put:
      operationId: savePlaybackState
      responses:
        "204": {description: 续播状态已保存}
  /me/achievements:
    get:
      operationId: userAchievements
      description: 根据当前用户服务端播放记录计算等级、统计、徽章和最近聆听足迹
      parameters:
        - name: timezone
          in: query
          schema: {type: string, default: UTC}
      responses:
        "200":
          description: 用户成就
          content:
            application/json:
              schema: {$ref: "#/components/schemas/AchievementSummary"}
  /recommendations/daily:
    get:
      operationId: dailyRecommendations
      parameters:
        - name: childMode
          in: query
          schema: {type: boolean, default: false}
      responses:
        "200":
          description: 按用户偏好生成、同一用户当天稳定的 20 首推荐
          content:
            application/json:
              schema: {type: array, items: {$ref: "#/components/schemas/Track"}}
  /recommendations/genres:
    get:
      operationId: recommendationGenres
      parameters:
        - name: childMode
          in: query
          schema: {type: boolean, default: false}
      responses:
        "200":
          description: 当前可推荐的曲风
          content:
            application/json:
              schema: {type: array, items: {type: string}}
  /recommendations/genres/{genre}:
    get:
      operationId: recommendationsByGenre
      parameters:
        - name: genre
          in: path
          required: true
          schema: {type: string}
        - name: limit
          in: query
          schema: {type: integer, minimum: 1, maximum: 50, default: 20}
        - name: childMode
          in: query
          schema: {type: boolean, default: false}
      responses:
        "200":
          description: 指定曲风的推荐歌曲
          content:
            application/json:
              schema: {type: array, items: {$ref: "#/components/schemas/Track"}}
  /charts:
    get:
      operationId: chart
      parameters:
        - name: region
          in: query
          schema: {type: string, enum: [ALL, CN, KR, US, JP], default: ALL}
        - name: childMode
          in: query
          schema: {type: boolean, default: false}
      responses:
        "200":
          description: 按有效播放次数排序的前十首歌曲
          content:
            application/json:
              schema: {type: array, items: {$ref: "#/components/schemas/ChartEntry"}}
  /tracks:
    get:
      operationId: listTracks
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: childMode
          in: query
          schema: {type: boolean, default: false}
        - name: sort
          in: query
          schema: {type: string, enum: [TITLE, ARTIST, ALBUM, NEWEST], default: TITLE}
        - name: genre
          in: query
          schema: {type: string}
        - name: codec
          in: query
          schema: {type: string}
        - name: metadataStatus
          in: query
          schema: {type: string, enum: [LOCAL, SCRAPED, NEEDS_REVIEW, MANUAL]}
      responses:
        "200":
          description: 曲目列表
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /tracks/random:
    get:
      operationId: randomTracks
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: childMode
          in: query
          schema: {type: boolean, default: false}
      responses:
        "200":
          description: 按用户维护随机覆盖轮次；未抓取歌曲优先并受全局完播率加权，保证正常池最终全覆盖且批内不重复
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Track"
  /tracks/discovery:
    get:
      operationId: discoveryTracks
      parameters:
        - name: limit
          in: query
          schema: {type: integer, default: 10}
        - name: childMode
          in: query
          schema: {type: boolean, default: false}
      responses:
        "200":
          description: 发现池试听歌曲
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Track"
  /tracks/{trackId}:
    get:
      operationId: getTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "200":
          description: 曲目详情
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Track"
        "404":
          $ref: "#/components/responses/NotFound"
  /tracks/{trackId}/stream:
    get:
      operationId: streamTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
        - name: Range
          in: header
          schema:
            type: string
      responses:
        "200":
          description: 完整音频
          content:
            audio/*:
              schema:
                type: string
                contentMediaType: application/octet-stream
        "206":
          description: 音频字节范围
          headers:
            Accept-Ranges:
              schema:
                type: string
            Content-Range:
              schema:
                type: string
        "404":
          $ref: "#/components/responses/NotFound"
  /tracks/{trackId}/lyrics:
    get:
      operationId: getLyrics
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "200":
          description: 歌词
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lyrics"
        "404":
          $ref: "#/components/responses/NotFound"
  /tracks/{trackId}/artwork:
    get:
      operationId: getArtwork
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "200":
          description: 封面图片
          content:
            image/jpeg:
              schema:
                type: string
                contentMediaType: image/jpeg
            image/png:
              schema:
                type: string
                contentMediaType: image/png
        "404":
          $ref: "#/components/responses/NotFound"
  /library/directories:
    get:
      operationId: listServerMusicDirectories
      description: 浏览已挂载音乐根目录下的直接子目录（仅管理员）
      parameters:
        - name: path
          in: query
          schema: {type: string, default: ""}
          description: 相对于挂载音乐根目录的目录路径
      responses:
        "200":
          description: 当前目录及其直接子目录
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerMusicDirectoryListing"
        "400":
          description: 路径越过挂载音乐根目录
        "404":
          $ref: "#/components/responses/NotFound"
  /library/scan:
    post:
      operationId: startScan
      parameters:
        - name: path
          in: query
          schema: {type: string, default: ""}
          description: 仅扫描该相对目录及其子目录；留空扫描整个挂载音乐目录
      responses:
        "202":
          description: 扫描已开始
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanStatus"
  /library/scan/status:
    get:
      operationId: scanStatus
      responses:
        "200":
          description: 当前扫描状态
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanStatus"
  /library/tracks:
    get:
      operationId: managedTracks
      parameters:
        - name: poolType
          in: query
          schema: {type: string, enum: [PENDING, NORMAL, DISCOVERY]}
      responses:
        "200":
          description: 管理员歌曲列表
          content:
            application/json:
              schema: {type: array, items: {$ref: "#/components/schemas/Track"}}
  /library/tracks/{trackId}:
    patch:
      operationId: classifyTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [poolType, audienceType]
              properties:
                poolType: {type: string, enum: [PENDING, NORMAL, DISCOVERY]}
                audienceType: {type: string, enum: [GENERAL, CHILD]}
                genre: {type: string, maxLength: 40}
                region: {type: string, enum: [CN, KR, US, JP, OTHER]}
      responses:
        "200": {description: 歌曲池、儿童分类、曲风与地区已更新}
    delete:
      operationId: permanentlyDeleteTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "204": {description: 音频文件及关联数据已删除}
  /library/tracks/{trackId}/metadata:
    patch:
      operationId: editTrackMetadata
      description: 仅修改 Sona 数据库，不回写原始音频文件
      parameters:
        - $ref: "#/components/parameters/TrackId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, artist, album, genre]
              properties:
                title: {type: string, maxLength: 200}
                artist: {type: string, maxLength: 200}
                album: {type: string, maxLength: 200}
                trackNumber: {type: [integer, "null"], minimum: 0}
                genre: {type: string, maxLength: 40}
      responses:
        "200":
          description: 数据库元数据已更新
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Track"}
  /library/tracks/{trackId}/rescrape:
    post:
      operationId: rescrapeTrack
      parameters:
        - $ref: "#/components/parameters/TrackId"
      responses:
        "202":
          description: 已清除人工锁定并开始重新扫描
          content:
            application/json:
              schema: {$ref: "#/components/schemas/ScanStatus"}
  /library/tracks/upload:
    post:
      operationId: uploadTracks
      description: 上传 App 本地音频，扫描刮削后直接进入正常歌曲池（仅管理员）
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files: {type: array, items: {type: string, format: binary}}
      responses:
        "202": {description: 文件已上传并开始扫描刮削}
  /downloads/sources:
    get:
      operationId: downloadSources
      description: 可用的 musicdl 下载来源（仅管理员）
      responses:
        "200":
          description: 来源列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DownloadSource"
        "403":
          $ref: "#/components/responses/Forbidden"
  /downloads/search:
    get:
      operationId: searchDownloads
      description: 在已配置的 musicdl 来源中搜索歌曲，按文件体积从大到小排列，未知体积置后（仅管理员）
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 120
      responses:
        "200":
          description: 搜索候选
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/DownloadCandidate"
        "403":
          $ref: "#/components/responses/Forbidden"
  /downloads:
    get:
      operationId: listDownloadTasks
      description: 最近 100 条下载任务（仅管理员）
      responses:
        "200":
          description: 下载任务
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DownloadTask"
    post:
      operationId: queueDownload
      description: 将搜索候选加入下载队列（仅管理员）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DownloadCandidate"
      responses:
        "202":
          description: 已加入队列
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadTask"
  /downloads/playlists/preview:
    post:
      operationId: previewDownloadPlaylist
      description: 解析受支持平台的公开歌单链接并返回下载预览（仅管理员）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url: {type: string, maxLength: 2048}
      responses:
        "200":
          description: 歌单名称及可下载曲目
          content:
            application/json:
              schema: {$ref: "#/components/schemas/DownloadPlaylistPreview"}
  /downloads/playlists:
    post:
      operationId: queueDownloadPlaylist
      description: 创建同名 Sona 歌单并批量下载预览曲目，下载入库后自动加入歌单（仅管理员）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, items]
              properties:
                name: {type: string, maxLength: 80}
                items:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items: {$ref: "#/components/schemas/DownloadCandidate"}
      responses:
        "202":
          description: 歌单曲目已批量加入下载队列
          content:
            application/json:
              schema: {$ref: "#/components/schemas/PlaylistDownloadQueue"}
  /downloads/{downloadId}/retry:
    post:
      operationId: retryDownload
      parameters:
        - name: downloadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: 已重新加入队列
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadTask"
  /app/releases/latest:
    get:
      operationId: latestAppRelease
      description: 按客户端平台查询最新安装包版本
      parameters:
        - name: platform
          in: query
          schema:
            type: string
            enum: [ios, macos]
            default: ios
      responses:
        "200":
          description: 最新版本信息；未发布安装包时 available 为 false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppRelease"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /app/releases/latest/ipa:
    get:
      operationId: downloadLatestAppRelease
      description: 下载最新 iOS 未签名 IPA，供 App 调用系统分享面板
      responses:
        "200":
          description: IPA 安装包
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFound"
  /app/releases/latest/dmg:
    get:
      operationId: downloadLatestMacAppRelease
      description: 下载最新 Apple Silicon Mac Catalyst DMG
      responses:
        "200":
          description: DMG 安装包
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFound"
  /app/releases:
    post:
      operationId: publishAppRelease
      description: 按平台发布最新 IPA 或 DMG（仅管理员）
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [version, build, file]
              properties:
                version:
                  type: string
                  pattern: "^[0-9]+(?:\\.[0-9]+){1,3}$"
                build:
                  type: integer
                  minimum: 1
                platform:
                  type: string
                  enum: [ios, macos]
                  default: ios
                notes:
                  type: string
                  maxLength: 4000
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: 安装包已发布
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppRelease"
        "403":
          $ref: "#/components/responses/Forbidden"
components:
  parameters:
    TrackId:
      name: trackId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PlaylistId:
      name: playlistId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: 未登录或会话失效
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Forbidden:
      description: 当前用户无权限
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: 资源不存在
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
    User:
      type: object
      required: [id, username, role]
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        role:
          type: string
          enum: [ADMIN, USER]
    ManagedUser:
      type: object
      required: [id, username, role, enabled]
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        role:
          type: string
          enum: [ADMIN, USER]
        enabled:
          type: boolean
    CreateUserRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          minLength: 2
          maxLength: 32
        password:
          type: string
          minLength: 8
          maxLength: 64
        role:
          type: string
          enum: [ADMIN, USER]
          default: USER
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
          maxLength: 64
    Favorites:
      type: object
      required: [trackIds]
      properties:
        trackIds:
          type: array
          items:
            type: string
    Playlist:
      type: object
      required: [id, name, trackIds, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        trackIds:
          type: array
          items:
            type: string
        createdAt:
          type: integer
          format: int64
    History:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            type: object
            required: [trackId, playedAt]
            properties:
              trackId:
                type: string
              playedAt:
                type: integer
                format: int64
    Track:
      type: object
      required: [id, title, artist, album, durationMs, codec, fileExtension, streamURL, hasLyrics, metadataStatus, poolType, audienceType, genre, region, artists]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        artist:
          type: string
        album:
          type: string
        trackNumber:
          type: integer
        durationMs:
          type: integer
          format: int64
        codec:
          type: string
        fileExtension:
          type: string
        sampleRate:
          type: integer
        bitDepth:
          type: integer
        artworkURL:
          type: string
          format: uri-reference
        streamURL:
          type: string
          format: uri-reference
        hasLyrics:
          type: boolean
        metadataStatus:
          type: string
          enum: [LOCAL, SCRAPED, NEEDS_REVIEW]
        poolType:
          type: string
          enum: [PENDING, NORMAL, DISCOVERY]
        audienceType:
          type: string
          enum: [GENERAL, CHILD]
        genre:
          type: string
        region:
          type: string
          enum: [CN, KR, US, JP, OTHER]
        artists:
          type: array
          description: 艺人归属列表；不切割联名名称，包含“林俊杰”的名称统一归属为“林俊杰”
          items:
            type: string
    ChartEntry:
      type: object
      required: [track, playCount]
      properties:
        track:
          $ref: "#/components/schemas/Track"
        playCount:
          type: integer
          format: int64
    TrackPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Track"
        nextCursor:
          type: [string, "null"]
    Lyrics:
      type: object
      properties:
        plain:
          type: [string, "null"]
        synced:
          type: [string, "null"]
        source:
          type: [string, "null"]
    ServerMusicDirectory:
      type: object
      required: [path, name, hasChildren]
      properties:
        path:
          type: string
          description: 相对于挂载音乐根目录的路径
        name:
          type: string
        hasChildren:
          type: boolean
    ServerMusicDirectoryListing:
      type: object
      required: [path, name, directories]
      properties:
        path:
          type: string
        name:
          type: string
        directories:
          type: array
          items:
            $ref: "#/components/schemas/ServerMusicDirectory"
    AppRelease:
      type: object
      required: [available]
      properties:
        available:
          type: boolean
        version:
          type: [string, "null"]
        build:
          type: [integer, "null"]
        notes:
          type: [string, "null"]
        publishedAt:
          type: [integer, "null"]
          format: int64
        fileSizeBytes:
          type: [integer, "null"]
          format: int64
        fileName:
          type: [string, "null"]
        downloadURL:
          type: [string, "null"]
    ScanStatus:
      type: object
      required: [state, discovered, imported, updated, skipped, failed, errors]
      properties:
        state:
          type: string
          enum: [IDLE, RUNNING, COMPLETED, FAILED]
        discovered:
          type: integer
        imported:
          type: integer
        updated:
          type: integer
        skipped:
          type: integer
        failed:
          type: integer
        message:
          type: [string, "null"]
        errors:
          type: array
          items: {type: string}
    DownloadSource:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
    DownloadPlaylistPreview:
      type: object
      required: [name, items]
      properties:
        name: {type: string}
        items:
          type: array
          items: {$ref: "#/components/schemas/DownloadCandidate"}
    PlaylistDownloadQueue:
      type: object
      required: [playlistId, playlistName, tasks]
      properties:
        playlistId: {type: string, format: uuid}
        playlistName: {type: string}
        tasks:
          type: array
          items: {$ref: "#/components/schemas/DownloadTask"}
    DownloadCandidate:
      type: object
      required: [candidateId, source, sourceName, title, artist, hasLyrics]
      properties:
        candidateId:
          type: string
        source:
          type: string
        sourceName:
          type: string
        title:
          type: string
        artist:
          type: string
        album:
          type: [string, "null"]
        extension:
          type: [string, "null"]
        quality:
          type: [string, "null"]
        durationMs:
          type: [integer, "null"]
          format: int64
        fileSizeBytes:
          type: [integer, "null"]
          format: int64
        artworkUrl:
          type: [string, "null"]
          format: uri
        hasLyrics:
          type: boolean
        lyrics:
          type: [string, "null"]
    DownloadTask:
      type: object
      required: [id, candidateId, source, sourceName, title, artist, album, quality, requestedBy, state, files, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        candidateId:
          type: string
        source:
          type: string
        sourceName:
          type: string
        title:
          type: string
        artist:
          type: string
        album:
          type: string
        quality:
          type: string
        artworkUrl:
          type: [string, "null"]
          format: uri
        targetPlaylistId:
          type: [string, "null"]
        requestedBy:
          type: string
        state:
          type: string
          enum: [QUEUED, RUNNING, COMPLETED, FAILED]
        files:
          type: array
          items:
            type: string
        message:
          type: [string, "null"]
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
    AchievementSummary:
      type: object
      required: [level, stats, badges, history]
      properties:
        level: {type: object}
        stats: {type: object}
        badges: {type: array, items: {type: object}}
        history: {type: array, items: {type: object}}
    Problem:
      type: object
      required: [status, title]
      properties:
        status:
          type: integer
        title:
          type: string
        detail:
          type: string
